.header {
    background-color: aqua;
    padding: 10px;
    text-align: center;
}

.middle {
    background-color: red;
    display: flex;
}

.navigation {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20%;

    background-color: green;
}

.content {
    float: left;
    width: 80%;
}

.image {
    background-color: orange;
    padding: 10px;
}

.article {
    background-color: yellow;
    padding: 10px;
}

.footer {
    background-color: brown;
    padding: 10px;
    clear: both;
    text-align: center;
}

.paddedTextNoMargin {
    margin: 0;
    padding-left: 10px;
}