body {
    background-color: purple;
}

header {
    text-align: center;
    padding: 30px;
    background-color: green;
}

nav {
    text-align: left;
    float: left;
    width: 10%;
    padding: 30px;
    background-color: pink;
}

article {
    text-align: left;
    float: left;
    width: 70%;
    padding: 20px;
    background-color: yellow;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: orange;
}

.bob {
    background-color: aquamarine;
}